<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xupt.xiyoumobile.web.dao.IAchievementMapper">

    <insert id="insertCompetition" parameterType="com.xupt.xiyoumobile.web.entity.Competition" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO xupt_research_team_competition_table
            (competition_name, category, level, members, competition_time)
        VALUES (#{competitionName}, #{category}, #{level}, #{members}, #{competitionTime})
    </insert>

    <select id="getAllCompetition" resultType="com.xupt.xiyoumobile.web.entity.Competition">
        SELECT *
        FROM xupt_research_team_competition_table
    </select>

    <select id="findCompetitionById" resultType="com.xupt.xiyoumobile.web.entity.Competition">
        SELECT *
        FROM xupt_research_team_competition_table
        WHERE id = #{competitionId}
    </select>

    <delete id="deleteCompetitionById">
        DELETE
        FROM xupt_research_team_competition_table
        WHERE id = #{competitionId}
    </delete>

    <update id="modifyCompetition" parameterType="com.xupt.xiyoumobile.web.entity.Competition">
        UPDATE xupt_research_team_competition_table
        <set>
            <if test="competitionName != null">
                competition_name = #{competitionName},
            </if>
            <if test="category != null">
                category = #{category},
            </if>
            <if test="level != null">
                level = #{level},
            </if>
            <if test="members != null">
                members = #{members},
            </if>
            <if test="competitionTime != null">
                competition_time = #{competitionTime},
            </if>
            update_time = CURRENT_TIME
        </set>
        WHERE id = #{id}
    </update>

    <insert id="insertPatent" parameterType="com.xupt.xiyoumobile.web.entity.Patent" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO xupt_research_team_patent_table
            (patent_name, members, status, patent_time)
        VALUES (#{patentName}, #{members}, #{status}, #{patentTime})
    </insert>

    <select id="findPatentById" resultType="com.xupt.xiyoumobile.web.entity.Patent">
        SELECT *
        FROM xupt_research_team_patent_table
        WHERE id = #{patentId}
    </select>

    <delete id="deletePatent">
        DELETE
        FROM xupt_research_team_patent_table
        WHERE id = #{patentId}
    </delete>

    <update id="modifyPatent" parameterType="com.xupt.xiyoumobile.web.entity.Patent">
        UPDATE xupt_research_team_patent_table
        <set>
            <if test="patentName != null">
                patent_name = #{patentName},
            </if>
            <if test="members != null">
                members = #{members},
            </if>
            <if test="filePath != null">
                file_path = #{filePath},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="patentTime != null">
                patent_time = #{patentTime},
            </if>
            update_time = CURRENT_TIME
        </set>
        WHERE id = #{id}
    </update>

    <select id="getAllPatent" resultType="com.xupt.xiyoumobile.web.entity.Patent">
        SELECT *
        FROM xupt_research_team_patent_table
    </select>

    <insert id="insertSoftWareCopyright" parameterType="com.xupt.xiyoumobile.web.entity.SoftWareCopyright"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO xupt_research_team_software_copyright_table
            (software_copyright_name, members, time)
        VALUES (#{softwareCopyrightName}, #{members}, #{time})
    </insert>

    <select id="findSoftWareCopyrightById" resultType="com.xupt.xiyoumobile.web.entity.SoftWareCopyright">
        SELECT *
        FROM xupt_research_team_software_copyright_table
        WHERE id = #{softWareCopyrightId}
    </select>

    <update id="modifySoftwareCopyright" parameterType="com.xupt.xiyoumobile.web.entity.SoftWareCopyright">
        UPDATE xupt_research_team_software_copyright_table
        <set>
            <if test="softwareCopyrightName != null">
                software_copyright_name = #{softwareCopyrightName},
            </if>
            <if test="members != null">
                members = #{members},
            </if>
            <if test="documentPath != null">
                document_path = #{documentPath},
            </if>
            <if test="projectPath != null">
                project_path = #{projectPath},
            </if>
            <if test="certificatePath != null">
                certificate_path = #{certificatePath},
            </if>
            <if test="time != null">
                time = #{time},
            </if>
            update_time = CURRENT_TIME
        </set>
        WHERE id = #{id}
    </update>

    <select id="getAllSoftWareCopyright" resultType="com.xupt.xiyoumobile.web.entity.SoftWareCopyright">
        SELECT *
        FROM xupt_research_team_software_copyright_table
    </select>

    <delete id="deleteSoftWareCopyright">
        DELETE
        FROM xupt_research_team_software_copyright_table
        WHERE id = #{scId}
    </delete>
</mapper>