<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xupt.xiyoumobile.web.dao.IAdminMapper">

    <update id="arrangeTeamMember" parameterType="com.xupt.xiyoumobile.web.vo.ArrangeTeamVo">
        UPDATE xupt_research_team_user_table
        SET team = #{teamId}
        WHERE user_account IN
        <foreach collection="memberAccountList" item="userAccount" open="(" close=")" separator=",">
            #{userAccount}
        </foreach>
    </update>

    <update id="modifyUserRole">
        UPDATE xupt_research_team_user_role_table
        SET role_id = #{roleId}
        WHERE user_id = #{userId}
    </update>

    <select id="getClaimExpenseStatisticsByUserAccount" resultType="com.xupt.xiyoumobile.web.vo.AdminClaimExpenseStatisticsVo">
        SELECT t.userAccount, count(*) count FROM xupt_research_team_claim_expense_table t
        WHERE t.create_time BETWEEN #{beginDate} AND #{endDate}
        GROUP BY t.userAccount
        ORDER BY count ASC
    </select>

    <select id="getClaimExpenseStatisticsByType" resultType="com.xupt.xiyoumobile.web.vo.AdminClaimExpenseStatisticsVo">
        SELECT t.userAccount, count(*) count FROM xupt_research_team_claim_expense_table t
        WHERE (t.create_time BETWEEN #{beginDate} AND #{endDate}) AND t.type = #{typeName}
        GROUP BY t.userAccount
        ORDER BY count ASC;
    </select>

    <select id="getPaperStatistics">
        SELECT COUNT(*) FROM xupt_research_team_paper_table
        WHERE type = 0 AND create_time > DATE_SUB(CURDATE(), INTERVAL 1 YEAR)
    </select>

    <select id="getCompetitionStatistics">
        SELECT COUNT(*) FROM xupt_research_team_competition_table
        WHERE create_time > DATE_SUB(CURDATE(), INTERVAL 1 YEAR)
    </select>

    <select id="getPatentStatistics">
        SELECT COUNT(*) FROM xupt_research_team_patent_table
        WHERE create_time > DATE_SUB(CURDATE(), INTERVAL 1 YEAR)
    </select>

    <select id="getSoftWareCopyrightStatistics">
        SELECT COUNT(*) FROM xupt_research_team_software_copyright_table
        WHERE create_time > DATE_SUB(CURDATE(), INTERVAL 1 YEAR)
    </select>

    <select id="countTeam" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM xupt_research_team_team_table
    </select>

    <select id="countMember" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM xupt_research_team_user_table
    </select>

    <select id="countPaper" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM xupt_research_team_paper_table
    </select>

    <select id="countDocument" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM xupt_research_team_document_table
    </select>

    <select id="countAchievement" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM xupt_research_team_patent_table
    </select>

</mapper>