<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xupt.xiyoumobile.web.dao.IDailyWorkMapper">

    <insert id="insertClaimExpense" parameterType="com.xupt.xiyoumobile.web.entity.ClaimExpense">
        INSERT INTO xupt_research_team_claim_expense_table
        (userAccount, userName, type, unit_price, amount, total_price, date, comment, status)
        VALUES (#{userAccount}, #{userName}, #{type}, #{unitPrice}, #{amount}, #{totalPrice},
        #{date}, #{comment}, status)
    </insert>

    <select id="selectClaimExpenseByUserAccount" resultType="com.xupt.xiyoumobile.web.entity.ClaimExpense">
        SELECT * FROM xupt_research_team_claim_expense_table
        WHERE userAccount = #{userAccount}
    </select>

    <select id="findClaimExpenseById" resultType="com.xupt.xiyoumobile.web.entity.ClaimExpense">
        SELECT * FROM xupt_research_team_claim_expense_table
        WHERE id = #{claimExpenseId}
    </select>

    <delete id="deleteClaimExpenseById">
        DELETE FROM xupt_research_team_claim_expense_table
        WHERE id = #{claimExpenseId}
    </delete>

    <update id="modifyClaimExpense" parameterType="com.xupt.xiyoumobile.web.entity.ClaimExpense">
        UPDATE xupt_research_team_claim_expense_table
        <set>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="unitPrice != null">
                unit_price = #{unitPrice},
            </if>
            <if test="amount != null">
                amount = #{amount},
            </if>
            <if test="totalPrice != null">
                total_price = #{totalPrice},
            </if>
            <if test="date != null">
                date = #{date},
            </if>
            <if test="comment != null">
                comment = #{comment},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            update_time = CURRENT_TIME
        </set>
    </update>

    <insert id="insertProject" parameterType="com.xupt.xiyoumobile.web.entity.Project">
        INSERT INTO xupt_research_team_project_table
        (project_no, project_name, type, level, host_name, members)
        VALUES (#{projectNo}, #{projectName}, #{type}, #{level}, #{hostName}, #{members})
    </insert>

    <select id="getAllProject" resultType="com.xupt.xiyoumobile.web.entity.Project">
        SELECT * FROM xupt_research_team_project_table
        ORDER BY create_time DESC
    </select>

    <delete id="deleteProjectById">
        DELETE FROM xupt_research_team_project_table
        WHERE id = #{projectId}
    </delete>

    <update id="modifyProject" parameterType="com.xupt.xiyoumobile.web.entity.Project">
        UPDATE xupt_research_team_project_table
        <set>
            <if test="projectNo != null">
                project_no = #{projectNo},
            </if>
            <if test="projectName != null">
                project_name = #{projectName},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="level != null">
                level = #{level},
            </if>
            <if test="hostName != null">
                host_name = #{hostName},
            </if>
            <if test="members != null">
                members = #{members},
            </if>
            update_time = CURRENT_TIME
        </set>
    </update>

    <select id="getClaimExpenseStatisticsByUserAccount" resultType="com.xupt.xiyoumobile.web.vo.AdminClaimExpenseStatisticsVo">
        SELECT t.userAccount, count(*) count FROM xupt_research_team_claim_expense_table t
        WHERE userAccount = #{userAccount}
    </select>
</mapper>