<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xupt.xiyoumobile.web.dao.IDocumentMapper">

    <select id="searchMyDocumentByTopic" resultType="com.xupt.xiyoumobile.web.entity.Document">
        SELECT * FROM xupt_research_team_document_table
        WHERE uploader = #{userAccount} AND topic LIKE CONCAT('%', #{content}, '%')
    </select>
    <select id="searchMyDocumentByAuthor" resultType="com.xupt.xiyoumobile.web.entity.Document">
        SELECT * FROM xupt_research_team_document_table
        WHERE uploader = #{userAccount} AND author LIKE CONCAT('%', #{content}, '%')
    </select>
    <select id="searchMyDocumentByDirection" resultType="com.xupt.xiyoumobile.web.entity.Document">
        SELECT * FROM xupt_research_team_document_table
        WHERE uploader = #{userAccount} AND direction LIKE CONCAT('%', #{content}, '%')
    </select>
    <select id="searchDocumentByTopic" resultType="com.xupt.xiyoumobile.web.entity.Document">
        SELECT * FROM xupt_research_team_document_table
        WHERE topic LIKE CONCAT('%', #{content}, '%')
    </select>

    <select id="searchDocumentByAuthor" resultType="com.xupt.xiyoumobile.web.entity.Document">
        SELECT * FROM xupt_research_team_document_table
        WHERE author LIKE CONCAT('%', #{content}, '%')
    </select>

    <select id="searchDocumentByDirection" resultType="com.xupt.xiyoumobile.web.entity.Document">
        SELECT * FROM xupt_research_team_document_table
        WHERE direction LIKE CONCAT('%', #{content}, '%')
    </select>

    <update id="modifyDocumentBySelective" parameterType="com.xupt.xiyoumobile.web.entity.Document">
        UPDATE xupt_research_team_document_table
        <set>
            <if test="author != null">
                author = #{author},
            </if>
            <if test="direction != null">
                direction = #{direction},
            </if>
            <if test="topic != null">
                topic = #{topic},
            </if>
            <if test="abstractContent != null">
                abstract_content = #{abstractContent},
            </if>
            <if test="organ != null">
                organ = #{organ},
            </if>
            <if test="useMethod != null">
                use_method = #{useMethod},
            </if>
            <if test="innovation != null">
                innovation = #{innovation},
            </if>
            <if test="pdfUrl != null">
                pdf_url = #{pdfUrl},
            </if>
            <if test="comments != null">
                comments = #{comments},
            </if>
            <if test="originPath != null">
                origin_path = #{originPath},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <insert id="insertDocument" parameterType="com.xupt.xiyoumobile.web.entity.Document" useGeneratedKeys="true" keyProperty="document.id">
        INSERT INTO xupt_research_team_document_table
        (author, uploader, direction, topic, abstract_content, organ, use_method, innovation, comments, origin_path)
        VALUES (#{document.author}, #{userAccount}, #{document.direction}, #{document.topic},
        #{document.abstractContent}, #{document.organ}, #{document.useMethod}, #{document.innovation},
        #{document.comments}, #{document.originPath})
    </insert>

    <select id="findByDocumentId" resultType="com.xupt.xiyoumobile.web.entity.Document">
        SELECT * FROM xupt_research_team_document_table
        WHERE id = #{documentId}
    </select>

    <delete id="deleteDocumentByUserAccountAndId">
        DELETE FROM xupt_research_team_document_table
        WHERE uploader = #{userAccount} AND id = #{documentId}
    </delete>

    <select id="getMyUploadDocument" resultType="com.xupt.xiyoumobile.web.entity.Document">
        SELECT * FROM xupt_research_team_document_table
        WHERE uploader = #{userAccount}
    </select>

    <select id="checkValid">
        SELECT COUNT(*) FROM xupt_research_team_document_table
        WHERE id = #{id} AND uploader = #{userAccount}
    </select>

    <select id="getAllDocument" resultType="com.xupt.xiyoumobile.web.entity.Document">
        SELECT * FROM xupt_research_team_document_table
    </select>

    <select id="getCommentsByDocumentId" resultType="com.xupt.xiyoumobile.web.entity.DocumentComment">
        SELECT * FROM xupt_research_team_document_comment_table
        WHERE document_id = #{documentId} ORDER BY create_time
    </select>

    <insert id="insertDocumentComment">
        INSERT INTO xupt_research_team_document_comment_table
        (document_id, content, user_account, user_name)
        VALUES (#{documentId}, #{content}, #{user.userAccount}, #{user.userName})
    </insert>
</mapper>