<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xupt.xiyoumobile.web.dao.IPaperMapper">
    <insert id="insertPaper" parameterType="com.xupt.xiyoumobile.web.entity.Paper" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO xupt_research_team_paper_table
        <trim prefix="(" suffix=")" suffixOverrides=",">
            topic, author, author_name, abstract_zh, abstract_en, type,
            <if test="acceptTime != null">
                accept_time,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{topic}, #{author}, #{authorName}, #{abstractZh}, #{abstractEn}, #{type},
            <if test="acceptTime != null">
                #{acceptTime},
            </if>
        </trim>
    </insert>

    <select id="findPaperById" resultType="com.xupt.xiyoumobile.web.entity.Paper">
        SELECT *
        FROM xupt_research_team_paper_table
        WHERE id = #{paperId}
    </select>

    <update id="modifyPaperSelective" parameterType="com.xupt.xiyoumobile.web.entity.Paper">
        UPDATE xupt_research_team_paper_table
        <set>
            <if test="topic != null">
                topic = #{topic},
            </if>
            <if test="author != null">
                author = #{author},
            </if>
            <if test="abstractZh != null">
                abstract_zh = #{abstractZh},
            </if>
            <if test="abstractEn != null">
                abstract_en = #{abstractEn},
            </if>
            <if test="pdfUrl != null">
                pdf_url = #{pdfUrl},
            </if>
            <if test="acceptTime != null">
                accept_time = #{acceptTime},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="findPaperByUserAccountAndType" resultType="com.xupt.xiyoumobile.web.entity.Paper">
        SELECT *
        FROM xupt_research_team_paper_table
        WHERE author = #{userAccount}
          AND type = #{type}
    </select>

    <select id="getMyStudentPapers" resultType="com.xupt.xiyoumobile.web.entity.Paper">
        SELECT *
        FROM xupt_research_team_paper_table
        WHERE author IN
              (SELECT user_account FROM xupt_research_team_user_table WHERE guide_teacher_account = #{userAccount})
          AND type = #{type}
    </select>

    <delete id="deleteSmallPaper">
        DELETE
        FROM xupt_research_team_paper_table
        WHERE xupt_research_team_paper_table.id = #{paperId}
          AND xupt_research_team_paper_table.type = #{type}
    </delete>

</mapper>