<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xupt.xiyoumobile.web.dao.ITeamMapper">
    <insert id="insertTeam" parameterType="com.xupt.xiyoumobile.web.entity.Team" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO xupt_research_team_team_table
            (team_name, team_direction)
        VALUES (#{teamName}, #{teamDirection})
    </insert>

    <select id="findTeamByTeacherName" resultType="com.xupt.xiyoumobile.web.entity.Team">
        SELECT *
        FROM xupt_research_team_team_table
        WHERE id = (SELECT team_id FROM xupt_research_team_teacher_team_table WHERE user_name = #{teacherName})
    </select>

    <delete id="deleteTeamById">
        DELETE
        FROM xupt_research_team_team_table
        WHERE id = #{teamId}
    </delete>

    <update id="modifyTeamInfo" parameterType="com.xupt.xiyoumobile.web.entity.Team">
        UPDATE xupt_research_team_team_table
        <set>
            <if test="teamName != null">
                team_name = #{teamName},
            </if>
            <if test="teamImg != null">
                team_img = #{teamImg},
            </if>
            <if test="studentCount != null">
                student_count = #{studentCount},
            </if>
            <if test="teamDirection != null">
                team_direction = #{teamDirection},
            </if>
            update_time = CURRENT_TIMESTAMP
        </set>
        WHERE id = #{id}
    </update>

    <select id="getAllTeam" resultType="com.xupt.xiyoumobile.web.entity.Team">
        SELECT *
        FROM xupt_research_team_team_table
    </select>

    <select id="getTeamInfoByTeacherAccount" resultType="com.xupt.xiyoumobile.web.entity.Team">
        SELECT *
        FROM xupt_research_team_team_table
        WHERE id IN (SELECT team_id FROM xupt_research_team_teacher_team_table
        WHERE user_account = #{teacherAccount})
    </select>

    <update id="addTeamStudentCount">
        UPDATE xupt_research_team_team_table
        SET student_count = student_count + #{size}
        WHERE id = #{teamId}
    </update>

    <select id="findTeamById" resultType="com.xupt.xiyoumobile.web.entity.Team">
        SELECT *
        FROM xupt_research_team_team_table
        WHERE id = #{teamId}
    </select>

    <select id="getMyTeams" resultType="com.xupt.xiyoumobile.web.entity.Team">
        SELECT * FROM xupt_research_team_team_table
        WHERE id IN (SELECT team_id FROM xupt_research_team_teacher_team_table WHERE user_account = #{userAccount})
    </select>

    <insert id="insertTeacherTeamRelation" parameterType="com.xupt.xiyoumobile.web.vo.SimpleUserInfoVo">
        INSERT INTO xupt_research_team_sys_db.xupt_research_team_teacher_team_table
        (user_account, user_name, team_id)
        VALUES
        <foreach collection ="guideTeachers" item="item" separator =",">
            (#{item.userAccount}, #{item.userName}, #{teamId})
        </foreach >
    </insert>

    <delete id="deleteTeacherTeamRelation">
        DELETE FROM xupt_research_team_teacher_team_table
        WHERE xupt_research_team_teacher_team_table.team_id = #{teamId}
    </delete>

    <select id="getTeamGuideTeachers" resultType="com.xupt.xiyoumobile.web.vo.SimpleUserInfoVo">
        SELECT user_account, user_name FROM xupt_research_team_teacher_team_table
        WHERE team_id = #{teamId}
    </select>

    <select id="getStudentsByTeamId" resultType="com.xupt.xiyoumobile.web.vo.SimpleUserInfoVo">
        SELECT user_account, user_name FROM xupt_research_team_user_table
        WHERE team = #{teamId}
    </select>
</mapper>
