<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xupt.xiyoumobile.web.dao.IUserMapper">

    <select id="findByUsername" resultType="com.xupt.xiyoumobile.web.entity.User">
        SELECT * FROM xupt_research_team_user_table WHERE user_account = #{userAccount}
    </select>

    <select id="selectRoleByUserId" resultType="com.xupt.xiyoumobile.web.entity.Role" parameterType="Long">
        SELECT role.id, role.role_name FROM xupt_research_team_role_table role
        LEFT JOIN xupt_research_team_user_role_table userRole
        ON role.id = userRole.role_id
        WHERE userRole.user_id = #{id};
    </select>

    <!--注册接口提供的是db中非空数据 无选择性地insert-->
    <insert id="register" parameterType="com.xupt.xiyoumobile.web.entity.User">
        INSERT INTO xupt_research_team_user_table
        (user_account, user_password, user_name, classify, research_direction, sex)
        VALUES (#{userAccount}, #{userPassword}, #{userName}, #{classify}, #{researchDirection}, #{sex})
    </insert>

    <update id="updateUserBySelective" parameterType="com.xupt.xiyoumobile.web.entity.User">
        UPDATE xupt_research_team_user_table
        <set>
            <if test="img != null">
                img = #{img},
            </if>
            <if test="userName != null">
                user_name = #{userName},
            </if>
            <if test="classify != null">
                classify = #{classify},
            </if>
            <if test="team != null">
                team = #{team},
            </if>
            <if test="guideTeacherAccount != null">
                guide_teacher_account = #{guideTeacherAccount},
            </if>
            <if test="guideTeacherName != null">
                guide_teacher_name = #{guideTeacherName},
            </if>
            <if test="personalSignature != null">
                personal_signature = #{personalSignature},
            </if>
            <if test="researchDirection != null">
                research_direction = #{researchDirection}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="banUserByUserAccount">
        UPDATE xupt_research_team_user_table
        SET ban = #{banStatus}
        WHERE user_account = #{userAccount}
    </update>

    <select id="getAllUsersByRoleId" resultType="com.xupt.xiyoumobile.web.entity.User">
        SELECT * FROM xupt_research_team_user_role_table userRole
        LEFT JOIN xupt_research_team_user_table user
        ON userRole.user_id = user.id
        WHERE userRole.role_id = #{roleId};
    </select>

    <select id="getAllUserRole" resultType="com.xupt.xiyoumobile.web.vo.UserRoleVo">
        SELECT user.id, user.user_account, user.user_name, son.role_name, user.ban
        From (SELECT role.role_name, userRole.user_id FROM xupt_research_team_role_table role JOIN xupt_research_team_user_role_table userRole
              ON userRole.role_id = role.id) son
        JOIN xupt_research_team_user_table user
        ON son.user_id = user.id;
    </select>

    <select id="selectUserPwd" resultType="java.lang.String">
        SELECT user_password FROM xupt_research_team_user_table
        WHERE user_account = #{userAccount}
    </select>

    <insert id="insertUserRole">
        INSERT INTO xupt_research_team_user_role_table
        (user_id, role_id)
        VALUES (#{userId}, #{role})
    </insert>

    <select id="getUserSimpleInfo" resultType="com.xupt.xiyoumobile.web.vo.SimpleUserInfoVo">
        SELECT son.* FROM
        (SELECT user.user_name, user.user_account
        FROM xupt_research_team_user_role_table userRole
        JOIN xupt_research_team_user_table user
        ON userRole.user_id = user.id
        WHERE userRole.role_id = #{type}) son;
    </select>

</mapper>